/* =============================================================================
  BASE
============================================================================= */

body,
html {
  height: 100%;
}

body {
  color: $color--grey;
  background-color: rgb(40,170,220);
  font-family: $font-family--primary;
  font-size: $font-size--medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}