/* =============================================================================
  RESET, BOX SIZING, & CLEARFIX
============================================================================= */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, small, img {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}