/* =============================================================================
  SOME SOCIAL STYLES
============================================================================= */

.fb-like,
.twitter-share-button {
  display: inline-block;
  vertical-align: middle;
}

.fb-like {
  margin-right: 10px;
}